.account-settings{
    margin: 0 auto;
    width: 960px;
    h1 {
        FONT-WEIGHT: 400;
        font-size: 37px;
        margin: 40px 0 5px 20px;
        color: rgb(40, 40, 40);
    }
    button{
        width:110px;
        height: 45px;
        margin-right: 20px;
        font-weight: 100;
        font-size: 16px;
        border: 1px solid rgb(168, 169, 178);
        border-radius: 4px;
        background-color: white;
        color: rgb(78, 78, 78);
    }
    button:hover{
        background-color: rgb(217, 217, 217);
        color: rgb(35, 35, 35);
        cursor: pointer;
    }
    .account-content {
        margin: 0 20px;

        display:flex;
        nav {
            display: flex;
            flex-flow: column;
            border: 1px lightgray solid;
            border-right: none;
            width: 25%;
            box-sizing: border-box;
            a:hover{
                box-sizing: border-box;
                padding: 0 0 0 12px;
                border-left: 3px solid lightgray;
            }
            a {
                box-sizing: border-box;
                display: flex;
                height: 40px;
                color: rgb(40, 40, 40);
                padding: 0 0 0 15px;
                align-items: center;

            }
            a.active {
                font-weight: 400;
                padding: 0 0 0 12px;

                background-color: rgb(241, 241, 241);
                color: mediumslateblue;
                border-left: 3px solid mediumslateblue;
            }
        }
        div{
            border: 1px lightgray solid;
            display: flex;
            box-sizing: border-box;
            flex-flow: column;
            width:75%;
            padding: 25px 15px 15px 15px;
            h2 {
                border-bottom: 1px solid lightgray;
                font-weight: 400;
                font-size: 26px;
                padding-bottom: 3px;
                margin: 0 0 30px 0;
                color: rgb(47, 47, 47);
            }
            form {
                display: flex;
                flex-flow: column;
                ul, li.error {
                    margin-top: 0;
                    color: mediumslateblue;
                }
                label{
                    color: rgb(78, 78, 78);
                    margin-bottom: 2px;
                }
                input{
                    margin-bottom: 23px;
                    height: 45px;
                    width: 400px;
                    padding-left: 10px;
                    box-sizing: border-box;
                    border-radius: 4px;
                    border: 1px solid rgb(168, 169, 178);
                }
                span{
                    margin: -4px 0 16px 0;
                }

                button:last-child{
                    background-color: mediumslateblue;
                    color: white;
                }
                button:last-child:hover{
                    background-color: rgb(83, 66, 181);
                    color: white;
                    cursor: pointer;
                }

                .inlineError {
                    margin: -20px 0 15px 5px;
                    text-align: left;
                    font-size: 12px;
                    color: red;
                }

                .activeInput {
                    border: 1px mediumslateblue solid;
                }

                .invalidInput {
                    border: 1px red solid;
                }
                
            }
        }
    }
    .account-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px lightgray solid;
        h2.account-title {
            border: none;
            margin: 0;
        }
        button{
            border-color: mediumslateblue;
            color: mediumslateblue;
            width: 70px;
            margin: -10px 0 5px 0;
        }
        button:hover{
            background-color: mediumslateblue;
            color: white;
        }
    }
    div.profile-cols{
        display:flex;
        flex-flow: row;
        padding: 0;
        border: none;
        width: 100%;
        margin: 0;
        padding: 0;
        .left-col{
            border: none;
            display: flex;
            align-items: center;
            padding-left: 10%;
            padding-top: 15px;
            width: 25%;
            min-width: 150px;
            .profilePic {
                
                border-radius: 50%;
                height: 150px;
                width: 150px;
                border: 1px black solid;
                background-position: top;
                background-size: 196%;
                background-position-x: -129px;
            }
        }
        .right-col{
            padding-top: 10px;

            border: none;
            width: 500px;
            ul {
                line-height: 2.2;
                margin: 10px 0;
                padding-left: 50px;
                li {
                    font-size: 18px;
                    color: black;
                    font-weight: 100;
                }
            }
        }
        button {
            margin-left: 50px;
        }
    }
    div.deactive-account{
        p{
            font-size: 15px;
            margin-bottom: 30px;
        }
        button{
            width: 220px;
            color: mediumslateblue;
            border-color: mediumslateblue;
        }

        button:hover{
            background-color: mediumslateblue;
            color: white;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .account-settings{
        width: 100%;
    }
}