


form.explorer-form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    ul.hide{
        display: none;
    }
    ul.reveal{
        display: block;
    }
    span{
        text-align: center;
        margin-bottom: 20px;
    }
    ul{
        // position: absolute;
        margin-top: -15px;
        margin-bottom:0;
        padding-top: 20px;
        padding-left: 0;
        background-color: white;
        width: 663px;
        box-sizing: border-box;
        // border: 1px lightgray solid;
        border-top: none;

        li{
            height: 52px;
            a{
                padding-left: 20px;
                font-size: 16px;
                line-height: 3.5;
                width: calc(100% - 20px);
                display: inline-block;
                height: 100%;
                box-sizing: border-box;
            }
        }
        li:hover{
            background-color: lightgray;
        }
    }
    input{
        box-sizing: border-box;
        height: 45px;
        padding: 10px;
        font-size: 16px;
        border-radius: 3px;
    }
    input:first-child{
        margin-right: 10px;
        width: 450px;
        border: 1px solid lightgray;
        padding-left: 50px;
        z-index: 1;
    }
    input:last-child{
        width: 150px;
        background-color: mediumslateblue;
        color:white;
        font-size: 16px;
        border:none;
    }
    input:last-child:hover{
        background-color: rgb(93, 77, 181);
    }
    .mag-glass{
        position: absolute;
        left: 40px;
        top: 10px;
        z-index: 1;
        align-self: center;
    }
}

.explorer-background-image{
    background-image: url(https://i.imgur.com/H58O7Yy.jpg);
    background-image: url(https://i.imgur.com/KyiDRpw.jpg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 1000px 575px;
}

.explorer-dash{
    width: 800px;
    height: 365px;
    margin: 0 auto;
    margin-top: 75px;
    h1{
        font-weight: 400;
        text-align: center;
    }
    form{
        input.dash-input {
            width: 800px;
        }
        ul {
            margin-top: -20px;
            width: 800px;
            border: 1px lightgray solid;
            border-top: none;
        }

        .mag-glass{
            left: 20px;
            top: 10px;
        }
    }
}